.container {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            border-radius: 20px;
            margin: 30px;
            padding: 20px 0 0;

            p {
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            }

            .header {
                font-size: 23px;
            }

            .muscules {
                margin: 15px 0;
            }

            img {
                max-width: 70%;
            }
        }
    }
}
