.blank {
    color: #ff2625;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        color: rgba(#ff2625, 0.5);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
    z-index: -5;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }

    .modalBody {
        padding: 30px;
        background: white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 20px;
        }

        .pay {
            margin-top: 10px;
            padding: 8px 20px;
            border: none;
            border-radius: 3px;
            background: #ff2625;
            font-size: 17px;
            color: white;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                background: #ff6d6d;
            }
        }

        .list {
            max-height: 500px;
            overflow: scroll;

            .item {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;

                label,
                input {
                    cursor: pointer;
                }

                input {
                    width: 20px;
                    margin-left: 5px;
                }
            }
        }

        input {
            font-size: 18px;
            padding: 5px;
            width: 450px;
            margin: 15px 0;
        }
    }
}

.subscribe {
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.food,
.exes {
    display: flex;
    flex-direction: column;

    .change {
        border: 1px solid black;
        border-radius: 2px;
        padding: 2px 0;
        margin: 5px auto 0;
        width: 100px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: rgba(0, 0, 0, 0.4);
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.actTable {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
}

.actTable th,
.actTable td {
    padding: 10px;
    border: 1px solid #ccc;
}

.actTable th {
    background-color: #f6d55c;
    font-size: 16px;
    font-weight: bold;
}

form {
    background-color: #f6d55c;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

form h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}

.inputUser {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

.btn {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}
