.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
    z-index: -5;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }

    .modalBody {
        padding: 30px;
        background: white;
        border-radius: 15px;
        display: flex;

        .download {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 22px;
                margin-bottom: 20px;
            }

            img {
                border: 1px solid black;
                width: 300px;
            }

            a {
                margin-top: 10px;
                text-decoration: none;
                color: #ff2625;
                font-size: 19px;
                cursor: pointer;
            }
        }

        .upload {
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                font-size: 22px;
            }

            button {
                margin-top: 50px;
                border: none;
                border-radius: 5px;
                padding: 20px;
                background: #ff2625;
                color: white;
                font-size: 20px;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    filter: brightness(2);
                }
            }
        }
    }
}

.container {
    margin-top: -100px;

    :global(.text) {
        margin-bottom: auto;
    }

    .button {
        cursor: pointer;
        border: none;
        margin: auto auto 10px;
        text-decoration: none;
        width: 250px;
        text-align: center;
        background: #ff2625;
        padding: 5px 10px;
        font-size: 20px;
        text-transform: none;
        color: white;
        border-radius: 4px;
    }

    .already {
        text-align: center;
        font-size: 15px;
        padding-top: 15px;
        margin-top: auto;
        color: #ff2625;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 25px;
    }
}
