body {
    font-family: "Josefin Sans";
    background-color: #fffafb;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

.right-arrow,
.left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff2625;
    font-size: 25px;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.right-arrow {
    right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
    transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail-image {
    width: 729px;
    height: 742px;
}

.header {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}

.info1 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    display: flex;
}

.info2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    margin-top: 150px;
}

.info2 > div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info2 > div img {
    width: 700px;
}

.swiper-pagination {
    bottom: 0px !important;

    .swiper-pagination-bullet-active {
        background: #ff2625 !important;
    }
}

.info3 {
    position: relative;
    width: 1400px;
    margin-top: 150px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    .list2 {
        margin-top: 50px;

        .item {
            height: 100%;
            width: 500px;
            height: 460px;
            border-radius: 30px;
            border: 1px solid black;
            padding: 30px 15px 20px;
            display: flex;
            flex-direction: column;

            .head {
                margin-top: 25px;
                font-size: 21px;
                font-weight: 700;
                color: #ff2625;
            }

            .text {
                margin-top: 10px;
                font-size: 18px;
            }

            img {
                margin: 0 auto;
                border-radius: 50%;
                max-width: 100px;
            }
        }
    }
}

.list {
    width: 100%;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.list .item {
    margin: 15px 0;
    position: relative;
    font-size: 22px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.list .item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: -13px;
    top: 9px;
    border-radius: 50%;
    background: #ff2625;
}

.hero-banner-img {
    position: absolute;
    top: -40px;
    right: 60px;
    width: 750px;
    margin-left: auto;
}

.exercise-card {
    width: 400px;
    height: 445px;
    background: #fff;
    border-top: 4px solid #ff2625;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.exercise-card img {
    height: 326px;
}

.bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
    transform: scale(1.1, 1.1);
}

.search-btn:hover {
    color: #ff2625 !important;
    border: 1px solid #ff2625 !important;
}

.exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .detail-image {
        width: 300px;
        height: 300px;
    }

    .react-horizontal-scrolling-menu--scroll-container {
        width: 500px;
    }

    .left-arrow,
    .right-arrow {
        position: static !important;
    }

    .hero-banner-img {
        display: none;
    }

    .exercise-card {
        width: 320px;
    }

    .exercise-video {
        width: 320px;
        height: 300px;
    }
}

@media screen and (max-width: 400px) {
    .exercise-card {
        width: 280px;
    }
}
