.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-size: 28px;
        font-weight: 700;
    }

    .change {
        cursor: pointer;
        background: transparent;
        border: none;
        font-size: 19px;
        border: 1px solid black;
        padding: 5px;
        margin: 10px 0;
        transition: 0.3s;

        &:hover {
            background: rgba(0, 0, 0, 0.2);
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input {
            padding: 3px;
            font-size: 17px;
            margin: 10px 0;
            width: 300px;
        }

        .thumb {
            width: 150px;
            margin-top: 10px;
        }

        .submit {
            padding: 3px 15px;
            font-size: 17px;
            margin-top: 20px;
        }
    }
}
