.container {
    margin-top: 30px;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 350px;
        }
    }

    p {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }

    .header {
        font-size: 23px;
        font-weight: 700;
        margin: 10px 0;
    }

    .subheader {
        font-size: 21px;
        font-weight: 500;
        margin: 10px 0;
    }

    .text {
        max-width: 700px;
        line-height: 24px;
        font-size: 17px;
    }
}
