// #ff2625
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .empty {
        font-size: 23px;
        opacity: 0.6;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        margin: 50px 0;
    }

    .header {
        margin-top: 60px;
        font-size: 27px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 700;
    }

    .ration {
        margin-bottom: 30px;
        font-size: 18px;
    }

    .progress {
        width: 800px;
        margin: 30px auto 5px;
        height: 10px;
        background: black;

        > div {
            transition: 0.5s;
            height: 10px;
            background: #ff2625;
        }
    }

    .foodList {
        .foodLink {
            text-decoration: none;
            color: black;
        }

        .item {
            margin: 10px;
            transition: 0.3s;
            border-radius: 10px;
            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .item {
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                margin-top: 10px;
                border: none;
                border-radius: 5px;
                background: #ff2625;
                padding: 5px 20px;
                font-size: 16px;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background: #ff6b6b;
                }

                &:disabled {
                    cursor: default;
                    background: rgba(#ff2625, 0.3);
                }
            }

            p {
                font-size: 20px;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 500;
            }

            img {
                margin-top: 15px;
                max-width: 400px;
            }
        }
    }
}
