.container {
    margin-top: -100px;

    :global(.text) {
        margin-bottom: auto;
    }

    .button {
        cursor: pointer;
        border: none;
        // margin: auto auto 10px;
        text-decoration: none;
        width: 250px;
        text-align: center;
        background: #ff2625;
        padding: 5px 10px;
        font-size: 20px;
        text-transform: none;
        color: white;
        border-radius: 4px;
    }

    .already {
        text-align: center;
        font-size: 15px;
        padding-top: 15px;
        margin-top: auto;
        color: #ff2625;
    }
}
